.env
# db_data/
db_root_password
tmp
backups

!wp_files/wp-content

# wp_files/wp-content/*
!wp_files/wp-content/plugins
!wp_files/wp-content/themes

wp_files/wp-content/plugins/*
!wp_files/wp-content/plugins/.gitkeep

wp_files/wp-content/themes/*
!wp_files/wp-content/themes/.gitkeep

# wp_files/*
